{% extends "base.html" %}
{% block content %}
<div class="container">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- <div class="bs-docs-section">
		<div class="bs-component"> -->

			<!-- Hangman Image -->
			<br><br>
			{% set image_name = 'static/hangman-pics/' + 'hang_' + Play.attempts|string + '.gif' %}
			<img id="hangman" src="{{ image_name }}" style="width:110x;height:110px;" align="middle">

			<!-- Letters List -->
			<br><br>
			<table id="ltrs_list" class="table table-striped table-hover ">
				<tbody>
            	<tr>
				{% set lc = 0 %}
            	{% for key,value in Play.ltrs_list.iteritems() %}
					{% if lc%10 == 0 %}
						</tr><tr>
					{% endif %}
					<td id={{ value }} align=center>{{ value }}</td>
					{% set lc = lc + 1 %}
				{% endfor %}
				</tr>
        </tbody>
	</table><br>

			<!-- Guessed Box -->
			<table class="table table-condensed table-hover ">
				<tbody>
					<tr>
						<td align="center" class="default">
							{% set box_r = Play.show_box() %}
							<pre>
							<div id='guessBox'>{% for item in box_r %}{{ item }} {% endfor %}</div>
							</pre>
						</td>
					</tr>
				</tbody>
			</table>

			<table class="table table-striped table-hover ">
				<tbody>
					<tr>
						<td>
							<div id="result" align="center"></div>
						</td>
					</tr>
				</tbody>
			</table>
			<script>
				var resulter = 1
				function process_input(input) {
					$.ajax({
						url: '/process',
						type: "POST",
						dataType: "json",
						data: { input_sent: input,
							id_sent: {{ id }}
						},
						success: function(data) {
							  var element = document.getElementById(data.char_input);
								var image_path = "static/hangman-pics/hang_";
								var image_path = image_path.concat(data.image_no);
								var image_path = image_path.concat(".gif");

								switch (data.result) {
									case "0":
													element.className='success';

													$('#guessBox').text("");
													$.each(data.box_r, function(index, value) {
															//alert(value);
															$("#guessBox").append(value);
															$('#guessBox').append(" ");
													});

													//$('#hangman').attr("src",image_path);
													break;

									case "1":
													element.className='danger';
													$('#hangman').attr("src",image_path);
													break;
									default:

								}

								switch (data.game_r) {
										case "0":
														$('#result').text("YOU  WON! ");
														resulter = 11;
														break;
										case "1":
														$('#result').text("H A N G E D !")
														$('#result').append('</br>');
														$('#result').append('</br>');
														$('#result').append("Song: ");
														$('#result').append(data.answer);
														resulter = 11;
														break;
										default:
														$('#result').text("Game in Progress...");
								}
						},
						error: function(error) {
								console.log(error);
						}
					});
				}

				$('body').keypress(function(e){
					if (resulter == 11) {
  					  $(document).unbind('keypress');
  				  } else {
  					  var input = String.fromCharCode( e.which );
  					  process_input(input);
  				  }
				});

				$('body').on('click','td', function() {
					if (resulter == 11) {
						$(this).off("click");
					} else {
						var input = $(this).text();
						process_input(input);
					}
				});
			</script>

    <!--</div>
 	</div>-->
</div>
{% endblock %}
